@tailwind base;
@tailwind components;
@tailwind utilities;

.font-manrope {
    font-family: "Manrope", sans-serif;
}

/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE & Edge */
    scrollbar-width: none;
    /* Firefox */
}